{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Robot Monitoring{% endblock %}</title>
  <!-- Feuille de style -->
  <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
  {% include 'header.html' %}
  
  {% block extra_body %}{% endblock %}
  
  {# Bloc enveloppant par défaut, que l'on peut surcharger dans certaines pages #}
  {% block content_wrapper %}
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  {% endblock %}
  
  {% include 'footer.html' %}
</body>
</html>
