<!-- templates/robot_list.html -->
{% extends 'base.html' %}
{% block title %}Liste des Hosts{% endblock %}

{% block content %}
<section class="container">
  <h2>Liste des Hosts</h2>
  <div class="hosts-buttons">
    {% if hosts_status %}
      {% for host, is_fresh in hosts_status.items %}
        <a href="{% url 'host_detail' host=host %}" class="host-button {% if is_fresh %}host-ok{% else %}host-ko{% endif %}">
          {{ host }}
        </a>
      {% endfor %}
    {% else %}
      <p>Aucun host trouvé.</p>
    {% endif %}
  </div>
</section>
{% endblock %}
